body{
    display: flex;
    flex-flow: column;
    align-items: center;
}


.square{
    width:200px;
    height: 200px;
    font-size: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: black;
    border: 2px solid red;
    margin:1em;
}

.yellow{
    background-color: yellow;
    
}
.green{
    background-color: green;
    
}
 /*transform*/

div:first-child{
 transform: translateX(-2rem);
}
div:nth-child(2){
transform: rotateX(60deg);
}
div:last-child{
    transform: scale(50%,50%);

}

/*transition while hover*/
div:hover{
    background-color: chartreuse;
    /* transition-property: background-color,transform;   all ilana,inga declare pananum
     transition-duration: 10s;

   
 transition-delay: 0.5s; */ 
 transition: all 2s 0.5s; /*this all take bgcolor and transform*/
}
/*rotate while hover*/
div:last-child:hover{
    transform: rotate(180deg);    /*this transform apply while hover,that time scale trans not apply*/
}



/*animation*/

.blue{
    background-color: blue;
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-direction: normal;
    animation-fill-mode: forwards;
    
    
    
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(300px) rotate(180deg);
    }
    66%{
        transform: translateX(-300px) rotate(-180deg);
    }
    100%{
        transform: translateX(0);
        background-color: aqua;
    }
}

